APP_NAME=Wasel Palestine API
APP_ENV=development
APP_DEBUG=true
API_PREFIX=/api/v1

DB_HOST=db
DB_PORT=3306
DB_NAME=wasel_pal
DB_USER=wasel
DB_PASSWORD=wasel123

JWT_SECRET_KEY=change-me
JWT_ALGORITHM=HS256
JWT_EXPIRE_MINUTES=60
