APP_NAME=wasel-palestine
APP_ENV=development
SECRET_KEY=your-super-secret-key-change-this-in-production
ACCESS_TOKEN_EXPIRE_MINUTES=30
REFRESH_TOKEN_EXPIRE_DAYS=7

# Database
POSTGRES_HOST=db
POSTGRES_PORT=5432
POSTGRES_USER=wasel_user
POSTGRES_PASSWORD=wasel_pass_2026
POSTGRES_DB=wasel_db

# Redis
REDIS_HOST=redis
REDIS_PORT=6379

# External APIs
OPENWEATHER_API_KEY=get_from_openweathermap.org
OPENROUTESERVICE_API_KEY=get_from_openrouteservice.org